<div class="container">
    <div class="row">
        <div class="well col-md-4 col-md-offset-4">
            
            <div class="text-center"><h5>INSCRIPTION</h5></div>

            <input class="form-control" id="register_lastname" type="text" placeholder="lastname" [(ngModel)]="user.lastname">
            <input class="form-control" id="register_name" type="text" placeholder="name" [(ngModel)]="user.name">
            <input class="form-control" type="text" placeholder="username" [(ngModel)]="user.username">
            <input class="form-control" type="password" placeholder="password" [(ngModel)]="user.password">
            <input class="form-control" id="register_email" type="mail" placeholder="mail" [(ngModel)]="user.mail">
            <input class="form-control" type="number" placeholder="zipcode" [(ngModel)]="user.zipcode">
            <input class="form-control" type="text" placeholder="city" [(ngModel)]="user.city">
            <input class="form-control" type="date" placeholder="birthdate" [(ngModel)]="user.birthdate">

            <input class="form-control" id="register_googleid" type="text" placeholder="register_googleid" [(ngModel)]="user.googleid">
            <br>
            <button class="btn-secondary btn pull-right" (click)="register(user)">S'inscrire</button>

            <input type="hidden" name="g_login" class="form-control input-underline input-lg" id="g_login" placeholder="google">
                <div class="g-signin2" data-onsuccess="onSignInRegister"></div>
        </div>
    </div>
</div>