

<!-- Formulaire -->
      <form class="formMessage" [formGroup]="myForm" novalidate (ngSubmit)="afficher(myForm.value)">
        <span class="input input--haruki">
          <input class="input__field input__field--isao" id="message" type="text" formControlName="message" required>
          <label class="input__label input__label--isao" for="message">
            <span class="input__label-content input__label-content--isao">Que voulez-vous ?</span>
          </label>
        </span>
        <button type="submit" class="box"><span></span></button>
        <img class="microMessage" src = "../../../assets/images/micro.png" height="50" width="50">
      </form>

<p>
<!-- Météo du Jour -->
<div *ngIf="numero == 2">
  <div class="container">
  <div class="light_bg" id="main_weather">
  	<div class="clearfix row">
  		<div class="col">
  			<div id="city">{{mess.city}}</div>
  			<div class="day">{{mess.day}}</div>
  			<div id="date">{{mess.date}}</div>
  		</div>
  		<div class="col">
  			<div id="real_weather">
  			  <img class="icon" src = "../../../assets/images/icons/{{mess.icon}}.png">
  				<div id="desc">{{mess.desc}}</div>
  			</div>
  		</div>
  		<div class="col temp">
  			{{mess.temp}}<span clasWhat&nbsp;Is&nbsp;Your&nbsp;Name?s="degre">°C</span>
        <div class="degMin"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> {{mess.min_temp}}°C</div>
        <div class="degMax"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> {{mess.max_temp}}°C</div>
  		</div>
  	</div>
  </div>
</div>
</div>

<!-- Météo de la semaine -->
<div *ngIf="numero == 3">
  <div class="container">
  	<div class="clearfix row">

      <div *ngFor="let entry of arrayMessage; let i=index">

          <div *ngIf="i == 0">
            <div class="container">
            <div class="light_bg" id="main_weather">
              <div class="clearfix row">
                <div class="col">
                  <div id="city">{{mess.city}}</div>
                  <div class="day">{{entry.day}}</div>
                  <div id="date">{{entry.date}}</div>
                </div>
                <div class="col">
                  <div id="real_weather">
                    <img class="icon" src = "../../../assets/images/icons/{{entry.icon}}.png">
                    <div id="desc">{{entry.desc}}</div>
                  </div>
                </div>
                <div class="col temp">
                  {{entry.temp}}<span class="degre">°C</span>
                  <div class="degMin"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> {{entry.min_temp}}°C</div>
                  <div class="degMax"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> {{entry.max_temp}}°C</div>
                </div>
              </div>
            </div>
          </div>
          </div>

        <div *ngIf="i != 0">
            <div class="light_bg" id="sub_weather">
        		<div class="colSemaine">
        			<div class="day">{{entry.short_day}}</div>
        			<img class="icon" src = "../../../assets/images/icons/{{entry.icon}}.png">
        			<div class="temp">{{entry.temp}}<span class="degre">°C</span></div>
        		</div>
          </div>
    	 </div>

     </div>

    </div>
  </div>
</div>

<!-- Série -->
<div *ngIf="numero == 4">
  <div class="container">
    <div id="tvshows">
    	<div *ngFor="let entry of arrayMessage; let i=index">
    		<div class="light_bg">
    			<div class="clearfix">
    				<div class="fll">
              <img class="poster" src="{{entry.image}}" alt="{{entry.name}}">
    				</div>
    				<div class="fll info">
    					<div class="name title_section">{{entry.name}}</div>
    					<hr>
    					<p class="resume">{{entry.resume}}</p>
              <button type="button" class="btnModal" id="lgModal" data-toggle="modal" data-target="#myModal" (click)="showAddModalSerie(i)">Plus de détails</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>


   <div class="modal" tabindex="-1" id="myModal" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title pull-left">{{messModal.name}}</h4>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">

            <div class="fll colModal1">
                <img class="posterModal" src="{{messModal.image}}" alt="{{messModal.name}}">
            </div>
            <div class="fll colModal2">
                <label for="channel">Chaîne : {{messModal.channel}}</label>
                <label for="duree">Durée : {{messModal.runtime}} minutes</label><br>
                <label for="saison">Saison : {{messModal.season}}</label><br>
                <label for="episode">Episode : {{messModal.episode}}</label><br>
                <label for="notation">Notation : {{messModal.rating}}</label><br>
                <label for="statut">Statut : {{messModal.status}}</label><br>
                <label for="resume">Resumé : {{messModal.resume}}</label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn rounded-btn" data-dismiss="modal">Retour</button>
          </div>


      </div>
    </div>
  </div>

</div>

<!-- Personnage Série -->
<div *ngIf="numero == 5">
  <div class="container">
  <div id="character">

  	<div id="banner" class="light_bg">
      <img class="banner_img" src="{{mess.image}}" alt="{{mess.serie}}">
  		<div class="title_section">{{mess.serie}}</div>
  	</div>

    <div class="row">
  	  <div *ngFor="let entry of arrayMessage; let i=index">

          		<div class="light_bg">
          			<div class="box_character">
                  <img class="character_img" src="{{entry.image}}" alt="{{entry.name_character}}">
          			</div>
          			<div class="info">
          				<div class="name title_section">{{entry.name_character}}</div>
          				<hr>
          				{{entry.name_actor}}
          			</div>
          		</div>

	   </div>
  </div>

  </div>
</div>
</div>

<!-- Série joué par acteur/actrice -->
<div *ngIf="numero == 6">
  <div class="container">
  <div id="character">

    <div class="row">
  	  <div *ngFor="let entry of arrayMessage; let i=index">

          		<div class="light_bg">
          			<div class="box_character">
                  <img class="character_img" src="{{entry.image}}" alt="{{entry.character}}">
          			</div>
          			<div class="info">
          				<div class="name title_section">{{entry.tvshow}}</div>
          				<hr>
          				{{entry.character}}
          			</div>
          		</div>

	   </div>
  </div>

  </div>
</div>
</div>

<!-- Film -->
<div *ngIf="numero == 7">
  <div class="container">
    <div id="tvshows">
    	<div *ngFor="let entry of arrayMessage; let i=index">
    		<div class="light_bg">
    			<div class="clearfix">
    				<div class="fll">
              <img class="poster" src="{{entry.image}}" alt="{{entry.name}}">
    				</div>
    				<div class="fll info">
    					<div class="name title_section">{{entry.name}}</div>
    					<hr>
    					<p class="resume">{{entry.resume}}</p>
              <button type="button" class="btnModal" id="lgModal" data-toggle="modal" data-target="#myModal" (click)="showAddModalMovie(entry.id)">Plus de détails</button>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>


   <div class="modal" tabindex="-1" id="myModal" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title pull-left">{{movieModal.name}}</h4>
          <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>

          <div class="modal-body">

            <div class="fll colModal1">
                <img class="posterModal" src="{{movieModal.image}}">
            </div>
            <div class="fll colModal2">
                <label for="annee">Notation : {{movieModal.rating}}/10</label><br>
                <label for="duree">Durée : {{movieModal.runtime}}</label><br>
                <label for="genre">Genre : {{movieModal.genre}}</label><br>

                <div class="spinner">
                  <spinner name="mySpinner">
                    <div class="double-bounce1">
                    </div>
                  </spinner>
                </div>

                <iframe width="100%" height="300" [src]="cleanURL(movieModal.video)"></iframe>

                <label for="resume">Resume : {{movieModal.resume}}</label><br>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn rounded-btn" data-dismiss="modal">Retour</button>
          </div>

      </div>

    </div>
  </div>

</div>

<!-- Personnage Film -->
<div *ngIf="numero == 8">
  <div class="container">
    <div id="character">

    	<div id="banner" class="light_bg">
        <img class="banner_img" src="{{mess.image}}" alt="{{mess.movie}}">
    		<div class="title_section">{{mess.movie}}</div>
    	</div>

      <div class="row">
    	  <div *ngFor="let entry of arrayMessage; let i=index">

            		<div class="light_bg">
            			<div class="box_character">
                    <img class="character_img" src="{{entry.image}}" alt="{{entry.name_character}}">
            			</div>
            			<div class="info">
            				<div class="name title_section">{{entry.name_character}}</div>
            				<hr>
            				{{entry.name_actor}}
            			</div>
            		</div>

  	   </div>
    </div>

    </div>
  </div>
</div>

<!-- Film joué par acteur/actrice -->
<div *ngIf="numero == 9">
  <div class="container">
    <div id="character">

      <div class="row">
    	  <div *ngFor="let entry of arrayMessage; let i=index">

            		<div class="light_bg">
            			<div class="box_character">
                    <img class="character_img" src="{{entry.image}}" alt="{{entry.character}}">
            			</div>
            			<div class="info">
            				<div class="name title_section">{{entry.movie}}</div>
            				<hr>
            				{{entry.character}}
            			</div>
            		</div>
  	   </div>
     </div>

    </div>
  </div>
</div>

<!-- Livre -->
<!-- <div *ngIf="numero == 10">
  <div class="container">
    <div id="tvshows">
    	<div *ngFor="let entry of arrayMessage; let i=index">
    		<div class="light_bg">
    			<div class="clearfix">
    				<div class="fll">
              <img class="poster" src="{{entry.image}}" alt="{{entry.name}}">
    				</div>
    				<div class="fll info">
    					<div class="name title_section">{{entry.name}}</div>
    					<hr>
    					<p class="resume">{{entry.resume}}</p>
              <p class="author">{{entry.author}}</p>
              <p class="annee">{{entry.published_year}}</p>
    				</div>Chaîne
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div> -->

<!-- Livre -->
<div *ngIf="numero == 10">
  <div class="container">
    <div id="tvshows">
      <ngx-carousel class="carouselDesign"
        [inputs]="carouselOne"
        [inputsLength]="arrayMessage.length"
        (carouselLoad)="carouselBannerLoad($event)">
    	<div class="item bannerStyle" *ngFor="let entry of arrayMessage; let i=index">
    			<div class="clearfix">
              <img class="poster" src="{{entry.image}}" alt="{{entry.name}}" id="lgModal" data-toggle="modal" data-target="#myModal" (click)="showAddModalBook(i)">
              <div class="resumeLivre">{{entry.name}}</div>
    			</div>
    	</div>
      <button class='leftRs'><</button>
      <button class='rightRs'>></button>
    </ngx-carousel>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="myModal" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">

     <div class="modal-content">

       <div class="modal-header">
         <h4 class="modal-title pull-left">{{messModal.name}}</h4>
         <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>

         <div class="modal-body">

           <div class="fll colModal1">
               <img class="posterModal" src="{{messModal.image}}" alt="{{messModal.name}}">
           </div>
           <div class="fll colModal2">
               <label for="channel">Titre : {{messModal.name}}</label>
               <label for="author">Auteur : {{messModal.author}} minutes</label><br>
               <label for="published_year">Publié : {{messModal.published_year}}</label><br>
               <label for="resume">Resumé : {{messModal.resume}}</label>
           </div>
         </div>

         <div class="modal-footer">
           <button type="button" class="btn rounded-btn" data-dismiss="modal">Retour</button>
         </div>


     </div>
   </div>
 </div>

</div>

<!-- Programme Télé -->
<div *ngIf="numero == 11">
  <div class="container">
    <div id="tvshows">
      <ngx-carousel class="carouselDesign"
        [inputs]="carouselOne"
        [inputsLength]="arrayMessage.length"
        (carouselLoad)="carouselBannerLoad($event)">
    	<div class="item bannerStyle" *ngFor="let entry of arrayMessage; let i=index">
    			<div class="clearfix">
              <img class="poster" src="{{entry.image}}" alt="{{entry.name}}">
              <div class="channelProgramme">{{entry.channel}}</div>
              <div class="title">{{entry.title}}</div>
              <div class="time">{{entry.time}}</div>
    			</div>
    	</div>
      <button class='leftRs'><</button>
      <button class='rightRs'>></button>
    </ngx-carousel>
    </div>
  </div>
</div>

<!-- Restaurant -->
<div *ngIf="numero == 12">
  <div class="container">
    <div id="character">

      <div class="row">
    	  <div *ngFor="let entry of arrayMessage; let i=index">

            		<div class="light_bg">
            			<div class="box_character">
                    <img class="character_img" src="{{entry.image}}" alt="{{entry.name}}">
            			</div>
            			<div class="info">
                    <div class="nameRestaurant">{{entry.name}}</div>
                    <div class="address">{{entry.address}}</div>
                    <div class="categories">Catégorie : {{entry.categories}}</div>
                    <div class="notation">Note : {{entry.rating}}/10</div>
            				<div class="price">Niveau prix : {{entry.price}}</div>
            			</div>
            		</div>
  	   </div>
    </div>

    </div>
  </div>
</div>
